.example-spacer {
    flex: 1 1 auto;
}

.tool-bar {
    background-color: #312aa9;
    color: white;
}

#add-button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#share-button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(44, 193, 44);
    margin-right: 20px;
}