<!-- <app-tool-bar [isProductsPage]="false"></app-tool-bar> -->
<div class="container">
    <div class="left-side">
        <div class="titles">
            <h2 class="title">Family Shopping Made Easy</h2>
            <h2 class="title2">Your Ultimate Shopping List Companion</h2>
        </div>
        <img src="../../../assets/logo.png" alt="" width="400" height="" style="text-align: center;">
        <h4 class="welcome-msg">Welcome to Famliy Shopping List</h4>
    </div>
    <app-login></app-login>
</div>